#### Pyspark Basic Introduction

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/miniconda3/envs/spark310/lib/python3.10/site-packages (4.0.0)
Requirement already satisfied: py4j==0.10.9.9 in /opt/miniconda3/envs/spark310/lib/python3.10/site-packages (from pyspark) (0.10.9.9)

In [2]:
import pyspark

In [3]:
import pandas as pd
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [4]:
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/13 17:48:46 WARN Utils: Your hostname, Ls-MacBook-Pro.local, resolves to a loopback address: 127.0.0.1; using 192.168.1.102 instead (on interface en0)
25/08/13 17:48:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/13 17:48:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [9]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [10]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)